.card1 {
    border: none;
    border-radius: 8px;
    background: #f7f7f7;
    max-width: 1320px;
    z-index: 1;
}

.card2 {
    border: none;
    border-radius: 8px;
    max-width: 1320px;
    z-index: 1;
}

.card3 {
    border: none;
    border-radius: 8px;
    max-width: 1320px;
    background: #f7f7f7;
    padding: 12px;
    height: 720px;
    z-index: 1;
}
.card4 {
    border: none;
    border-radius: 8px;
    max-width: 1320px;
    background: #f7f7f7;
    padding: 12px;
    margin-left: 4%;
    margin-right: 4%;
    height: 720px;
    z-index: 1;
}
.card5 {
    border: none;
    border-radius: 8px;
    background: #f7f7f7;
    margin-left: 4%;
    margin-right: 4%;
    max-width: 1320px;
    z-index: 1;
}

/* Đảm bảo rằng body và html có chiều cao đầy đủ để footer nằm ở cuối trang */
html, body {
    height: 100%;
    margin: 0;
}

/* Đảm bảo nội dung trang không bị chồng lên footer */
.content {
    flex: 1;
}

/* Đặt footer nằm ở dưới cùng của trang */
.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.custom-title {
    text-align: center;
    color: white;
    background-color: #296571;
    padding: 15px;
    border-radius: 5px; 
}
.custom-card-header {
    background-color: #296571;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 5px; 
}

/* Đặt footer luôn nằm ở cuối trang */
.footer2 {
    background-color: #296571;
    color: #ffffff;
    padding: 20px 0;
    position:relative;
    bottom: 0%;
    width: 100%;
}

.scrollable-form {
  max-height: 600px; /* Thiết lập chiều cao tối đa mà bạn muốn */
  overflow-y: auto; /* Thiết lập thanh cuộn theo chiều dọc */
}


.registration-background {
    background-image: url('https://images.pexels.com/photos/1029618/pexels-photo-1029618.jpeg');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh; 
   
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    position: relative; 
    overflow: hidden; 
  }
  
  .registration-background::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
  }
  .form-container {
    background-color: white;
    padding: 30px;
    border-radius: 26px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1180px;
    margin: auto;
    position: relative;
    z-index: 1;
}