.sidebar-content1 {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
sidebar-col1 {
    padding-top: 39px;
}
.centered-text {
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: red;
}

